<div class="links-of-author motion-element">
    <span class="links-of-author-item">
      <a href="https://github.com/cattus1110" title="GitHub → https://github.com/cattus1110" rel="noopener" target="_blank"><i class="fab fa-github fa-fw"></i>GitHub</a>
    </span>
    <span class="links-of-author-item">
      <a href="mailto:willon9988@gmail" title="E-Mail → mailto:willon9988@gmail" rel="noopener" target="_blank"><i class="fas fa-envelope fa-fw"></i>E-Mail</a>
    </span>
    <span class="links-of-author-item">
      <a href="https://discord.com/users/513295820783747082" title="Discord → https://discord.com/users/513295820783747082" rel="noopener" target="_blank"><i class="fab fa-discord fa-fw"></i>Discord</a>
    </span>
</div>